@charset "utf-8";
/* ************************************************************************* */
/* 横書きにする。
/* ************************************************************************* */
#honbun{margin: 0 auto; width: 90%;}
#honbun_prev, #honbun_next{display: none;}
@media (max-width: 480px) {
	#honbun {margin: 0;	width: 100%;}
}
p {
	margin: 0 0 1em 0;
}
